p{
    font-weight: bold;
    font-size: 200px
}

#top{
    text-decoration:double;
}

.emphasizedText{
    font-style:italic;
    color:lavender
}

body{
    background-color: darkslategrey;
    color: whitesmoke;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 50px;
    text-align: center;
}
ol{
    list-style-position:inside;
    text-align:left;
}

ul{
    list-style-position:inside;
    text-align:left;
    margin-left: 40%; 
}

footer{
    color: whitesmoke;
}


